<div class="category">

    <h2>{{jokeCategory?.description}}</h2>

    <img class="category-thumbnail" [src]="jokeCategory?.iconUrl">

    <mat-form-field>

        <input matInput placeholder="Search Jokes" #input>

    </mat-form-field>

    <section class="example-section" [formGroup]="jokeFlags"
        style="display: flex; justify-content: space-around; align-items: baseline;">
        <h4>Blacklist flags:</h4>

        <span *ngFor="let option of flagOptions">

            <mat-checkbox [formControlName]=option (ngModelChange)="filterJokes()">{{ option }}</mat-checkbox>
        </span>
    </section>

    <div class="spinner-container" *ngIf="loading">

        <mat-spinner></mat-spinner>

    </div>

    <mat-table class="jokes-table mat-elevation-z8" [dataSource]="data" matSort matSortActive="category"
        matSortDirection="asc" matSortDisableClear>

        <ng-container matColumnDef="category">

            <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>

            <mat-cell *matCellDef="let joke">{{joke.category}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="joke">

            <mat-header-cell *matHeaderCellDef>Joke</mat-header-cell>

            <mat-cell class="description-cell" *matCellDef="let joke">{{joke.joke}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="flags">

            <mat-header-cell *matHeaderCellDef>Flags</mat-header-cell>

            <mat-cell class="duration-cell" *matCellDef="let joke">{{joke.flags | activeFlags}}</mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

</div>