<mat-sidenav-container fullscreen>
    <mat-sidenav #start style="background-color: #7e3399;">
        <mat-nav-list>

            <a *ngFor="let jokeCategory of jokeCategories$ | async" mat-list-item
                [routerLink]="['/categories/' + jokeCategory.description]" style="color: white;">
                <mat-icon>chevron_right</mat-icon>
                <span>{{jokeCategory.description}}</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar color="primary" style="position: absolute; top: 0; background-color: #7e3399;">
        <button mat-icon-button (click)="start.open('mouse')" class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Very Bad Jokes</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
            [routerLink]="['/']">
            <mat-icon>home</mat-icon>
        </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
</mat-sidenav-container>